<h1>Proba</h1>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss1'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss2'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss3'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss4'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss5'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss6'"></webworker>
<webworker [count]="8000" [worker_name]="'Vladimir Pavkovicsss7'"></webworker>
